body {
    background-color: #E07A5F;
    font-family: 'Fredericka the Great', cursive;
    font-size: 20px;
    padding: 20px;
    border-style: solid;
    border-color: #3D405B;
    
}

h1 {
    color: #81B29A;
    font-family: 'Pacifico', cursive;
}


h2 {
    
    color: #F2CC8F;
}
a:visited {
    
    color: #F2CC8F;
}


a:hover{
    
  color:#41e2c2;
}

