body {
    background-image: url("bkg.png"); 
     font-family: 'Bungee Outline', cursive;
    font-size: 20px;
    padding: 20px;
    border-style: solid;
    border-color: #3D405B;
    
}

h1 {
    color: #51A3A3;
    font-family: 'Bungee Outline', cursive;
}


h2 {
    
    color: #75485E;
}
a:visited {
    
    color: #75485E;
}


a:hover{
    
  color:#41e2c2;
}

