body {
    background-color: #E8D7F1;
    font-family: 'Fredericka the Great', cursive;
}

h1 {
    
    font-family: 'Pacifico', cursive;
}


a:visited {
    
    color: #F2CC8F;
}


a:hover{
    
  color:#41e2c2;
}

