html {
	height: 100%;
	display: flex;
    background-color: black;
}

body {
   
	position: relative;
	margin: auto;
     background-color: black;

}


svg {
   
}

.wrapper {
	position: relative;
	width: 80vmin;
	height: 80vmin;
	max-width: 1000px;
	max-height: 1000px;
	perspective: 1000px;
    background-color: black;

}



.enter, .blink {
    justify-content: center;
     width: 1000px;
    height: 1000px;
	bottom: -60px;
	left: 10%;
	width: 70%;
	height: auto;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


