body {
    
    background-color: black;
    font-family: 'Fjalla One', sans-serif;
}


h1 {
    
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  float: left;
  color:#515FAD;
    
}

.wire {
    color:#D97F24;
    
}

h4 {
    
    text-justify: auto;
    text-align: left;
    padding: 10px;
    color:#D97F24;
    font-size: 20px;
    
}

a:link {
  color: #8E4683;
    
}

a:visited {
    
 color:#8E4683;   
}

a:hover {
  
color: #D97F24;
    
}


h2{
    text-justify: auto;
    text-align: left;
    padding: 10px;
    color:#8E4683;
    font-size: 40px;
}
